<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Franck Jakubowski">
        <meta name="description" content="Affichage d'une facture au format PDF">

        <title>
            {% block title %}
            Facture n°{{ facture.id }}
            {% endblock %}
        </title>

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/pdf.css')[1:] }}">
        {% endblock %}
    </head>

    <body>
        {% block body %}

        {# layout for PDF files #}
        <!-- global container -->
        <div class="px-2">

            <!-- header with logo & title -->
            <header>
                <div class="center">
                    {# uncomment the line ;extension=gd2 in the php.in file #}
                    <img class="" src="{{ asset('build/images/logo.png')[1:] }}" height="100"
                         alt="Aucune Commission Logo">
                    <!-- titre de la page du pdf -->
                    <div class="my-5 center">
                        <h1 class="textBold textToUpper">{{ title }}</h1>
                    </div>
                </div>
            </header>
            <!-- /header with logo & title -->


            <!-- informations et reference de la commande -->
            <table class="mb-5">
                <tbody>
                    <tr>
                        <td></td>
                        <!-- informations & references de la facture -->
                        <td class="td-vertical-align" width="40%">
                            <div class="td-border-dark">
                                <div class="td-bg-dark rounded p-2 font-weight-bold">
                                    Informations commande
                                </div>
                                <div class="interline pb-2 px-2">
                                    <p>Numéro de facture: {{ facture.id }}</p>
                                    <p>Numéro client: {{ facture.clientid }}</p>
                                    <p>Adresse IP du paiement: {{ facture.clientAdresseIp }}</p>
                                    <p>Date de la facture:
                                        {{ facture.factureCreateAt | date('d:m:Y') }}
                                    </p>
                                </div>
                            </div>
                        </td>
                        <!-- /informations & references de la facture -->
                    </tr>
                </tbody>
            </table>
            <!-- /informations et reference de la commande -->

            <!-- customer details area -->
            <table>
                <tbody>
                    <tr>
                        <!-- adresse de livraison -->
                        <td class="td-vertical-align">
                            <div class="td-border-blue">
                                <div class="td-bg-blue p-2 font-weight-bold">Client livré</div>
                                <div class="interline pb-2 px-2">
                                    <p>Prénom Nom du client</p>
                                    <p>Adresse du client</p>
                                    <p>Code postal et ville du client</p>
                                </div>
                            </div>
                        </td>
                        <!-- /adresse de livraison -->

                        <td width="30%"></td>

                        <!-- adresse de facturation -->
                        <td class="td-vertical-align">
                            <div class="td-border-blue">
                                <div class="td-bg-blue p-2 font-weight-bold">Client facturé</div>
                                <div class="interline pb-2 px-2">
                                    <p>Prénom Nom du client</p>
                                    <p>Adresse du client</p>
                                    <p>Code postal et ville du client</p>
                                </div>
                            </div>
                        </td>
                        <!-- /adresse de facturation -->
                    </tr>
                </tbody>
            </table>
            <!-- /customer details area -->

            <br>

            <!-- main table -->
            <table class="table-striped mb-5">
                <tbody>
                    <thead>
                        <!-- ligne de l entete du tableau -->
                        <tr>
                            <!-- description de la commande -->
                            <th class="td-vertical-align" width="80%">
                                <div class="td-bg-red p-2 font-weight-bold">
                                    Description
                                </div>
                            </th>
                            <!-- /description de la commande -->

                            <!-- montant de la facture -->
                            <th class="td-vertical-align text-right" width="20%">
                                <div class="td-bg-dark p-2 font-weight-bold">
                                    {{ ((1 + facture.montantTva) * facture.montantHt) | number_format(2) }} €
                                </div>
                            </th>
                            <!-- /montant de la facture -->
                        </tr>
                        <!-- /ligne de l entete du tableau -->
                    </thead>

                    <!-- ligne concernant 1 article -->
                    {# si plusieurs articles boucle pour pour remplir la table #}
                    <tr>
                        <td class="td-vertical-align">
                            <p class="p-1">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Voluptatum corrupti, velit dignissimos ut aut delectus doloremque
                                dolores
                                voluptates in atque eum reiciendis vero iusto et praesentium eaque dolor ducimus
                                optio.</p>
                        </td>
                        <td class="td-vertical-align text-right">
                            <p class="p-1">{{ facture.montantHt | number_format(2)}} €</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-vertical-align">
                            <p class="p-1">oc tu nunc in illo probas. Qua tu etiam inprudens utebare non numquam.</p>
                        </td>
                        <td class="td-vertical-align text-right">
                            <p class="p-1">0 €</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-vertical-align">
                            <p class="p-1">Nos cum te, M. Quid sequatur, quid repugnet, vident.</p>
                        </td>
                        <td class="td-vertical-align text-right">
                            <p class="p-1">0 €</p>
                        </td>
                    </tr>
                    {# /si plusieurs articles boucle pour pour remplir la table #}
                    <!-- /ligne de concernant 1 article -->
                </tbody>

                <!-- TVA, TTC -->
                <tfoot>
                    <tr>
                        <td class="text-right tfoot-border-bottom">
                            TOTAL HT
                        </td>
                        <td class="text-right table-warning tfoot-border-bottom">
                            {{ facture.montantHt | number_format(2) }} €
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right tfoot-border-bottom">
                            TVA à {{ facture.montantTva * 100 }} %
                        </td>
                        <td class="text-right table-warning tfoot-border-bottom">
                            {{ (facture.montantTva * facture.montantHt) | number_format(2) }} €
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right tfoot-border-bottom">
                            <strong>TOTAL TTC À PAYER</strong>
                        </td>
                        <td class="text-right table-warning tfoot-border-bottom">
                            <strong>{{ ((1 + facture.montantTva) * facture.montantHt) | number_format(2) }} €</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">
                            <em>Moyens de paiement</em>
                        </td>
                        <td class="center table-warning">
                            <em>Comptant</em>
                        </td>
                    </tr>
                </tfoot>
                <!-- /TVA, TTC -->
            </table>
            <!-- main table -->

            <!-- informations commerciales -->
            <table class="mb-5">
                <tbody>
                    <tr>
                        <!-- contact & horaires -->
                        <td class="td-vertical-align" width="40%">
                            <div class="td-border-dark">
                                <div class="td-bg-dark p-2 font-weight-bold">
                                    Contact
                                </div>
                                <div class="center interline pb-2 px-2">
                                    <p><a href="https://google.fr">Sevice client</a></p>
                                    <p>Du lundi au vendredi de 10h à 15h</p>
                                    <p><strong>09 75 18 04 34</strong></p>
                                    <p>info@aucunecommission.com</p>
                                </div>
                            </div>
                        </td>
                        <!-- /contact & horaires -->
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <!-- informations commerciales -->

            <!-- global container -->

            {% endblock %}

            <!-- conteneur fixe-->
            {% block javascripts %}
            <script src="{{ asset('/build/app.js')[1:] }}"></script>
            {% endblock %}
    </body>

</html>